# Virtual environments
myenv/
Phase_2/myenv/*
**/myenv/venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
